# Node.js
.node_modules
.next
.env
.DS_Store

# Go
/apps/server/bin
/apps/server/*.exe
/apps/server/vendor

# Python
/apps/engine/data
/apps/engine/venv
/apps/engine/__pycache__
*.pyc

# DB Data
/infra/postgres/data

# Packages
node_modules

# TurboRepo Cache (필수)
.turbo
